@import "standart-style.css";

body {
    font-family: sans-serif;
}

header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #07203f;
    border-bottom: 1px solid #FFFFFF;
    padding: 0 calc(50vw - 770px)
}



.header-links {
    display: flex;
    gap: 30px;
}

.header-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}

.nickname {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}


.main-section {
    background: #07203F;
    display: flex;
    justify-content: space-between;
    gap: 168px;
    padding-top: 115px;
    padding-bottom: 115px;
}

.main-info {
    width: 605px;
}
.main-title {
    font-weight: 800;
    font-size: 60px;
    line-height: 78px;
    text-transform: uppercase;
    color: #D9D9D9;
    margin-top: 110px;
}
.main-description {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #D9D9D9;
    margin-top: 50px;
}

.main-btn {
    width: 605px;
    height: 128px;
    display: block;
    background: #D9D9D9;
    border-radius: 70px;
    text-decoration: none;
    padding: 40px 75px;
    margin-top: 100px;
}
.main-btn span {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #000000;
}
.main-image {
    display: flex;
    align-items: center;
}
.main-image img {
    border-bottom: 5px solid #D9D9D9;
    border-radius: 383.5px;
}
.skills-section {
    background: #EADED4;
}
.skills-title {
    display: block;
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    text-transform: uppercase;
    padding-top: 100px;
    text-align: center;
}
.skills {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.skill {
    background: #07203F;
    width: 500px;
    height: 500px;
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 250px;
}
.skill:nth-child(2) {
    background: #D9AA90;
}

.projects {
    background: #07203F;
    padding-bottom: 200px
}
.projects-title {
    font-weight: 800;
    font-size: 72px;
    line-height: 88px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;

}
.project {
    display: flex;
    justify-content: center;
    gap: 175px;
    margin-top: 100px;

}
.project-info {}
.project-name {
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #D9D9D9;
    margin-top: 100px;
}
.project-description {
    font-size: 36px;
    line-height: 42px;
    color: #D9D9D9;
    margin-top: 20px;
}
.project-img {
    width: 760px;
}
/*media*/
@media (min-width: 575.98px){
    section, header, footer {
        padding: 0 calc(50vw - 270px);
    }
}

@media (min-width: 767.98px){
    section, header, footer {
        padding: 0 calc(50vw - 360px);
    }
}

@media (min-width: 991.98px) {
    section, header, footer {
        padding: 0 calc(50vw - 480px);
    }
}

@media (min-width: 1199.98px){
    section, header, footer {
        padding: 0 calc(50vw - 770px);
    }
}